.formrow {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  select,
  input[type='text'] {
    height: 39px;
    background: #21272a;
    color: #ffffff;
    border: none;
    border-bottom: solid 1px #696f77;
    padding-left: 15px;
  }

  label,
  .label {
    margin: 0px;
    padding: 10px 0 10px 0;
    font-weight: normal;
  }
}
.calendar {
  position: relative;
  input {
    width: 100%;
  }
}
.calendaricon {
  position: absolute;
  right: 5px;
  top: 15px;
}
.midDivider {
  display: flex;
  min-width: 23px;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.multiform {
  display: flex;
}
.formEle {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 5px;
  &.endDate {
    margin-left: 7px;
  }
}
.startDate {
  position: relative;
  input {
    width: calc(100% - 15px);
  }
}
.endDate {
  margin-left: 2px;
  position: relative;
  input {
    width: calc(100% - 15px);
  }
}
.archivesearch {
  padding: 0 15px;
  color: var(---form-text-color);
  h2 {
    font-size: 20px;
    font-weight: normal;
    padding: 20px 0;
    margin: 0px;
  }
  h3 {
    font-size: 14px;
    font-weight: 600;
    padding: 16px 0 0 0;
    margin: 0px;
  }
}
.submit {
  height: 48px;
  background: var(---highlight-color);
  border: none;
  color: #fff;
  text-align: left;
  padding: 0px 0 0 15px;
  width: 100%;
  margin-top: 10px;
  font-size: 14px;
}
