:root {
    ---darkest-color:#121619;
    ---dark-color:#34393f;
    ---highlight-color:#5300ff;
    ---form-text-color:#c1c6cd;
    ---form-control-bg : #21272a;
    ---second-col-bg : #121619;
    ---table-text-color:#c1c6cd;
    ---success-color:#54c96f;
    ---alert-color:#c73b53;
}



body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size:13px;
}

.map{
    max-width:100%;
    width:100%;
}