.mainnav {
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    li {
      margin: 0px;
      padding: 0px;
      list-style: none;
      border-left: solid 3px transparent;
      &:hover {
        background: var(---dark-color);
        border-color: var(---highlight-color);
      }
    }
  }
}
.active {
  background: var(---dark-color);
  border-left: solid 3px var(---highlight-color) !important;
}
